/*CSS Stylesheet for google homepage clone*/
#header{
    float:right;
    margin:10px;
    font-size: 12px;
}

#header div{
	margin:10px;
	float:left;
	color: #404040;
}

#header div a{
    
    text-decoration: none;
}

#header div a:hover{
    text-decoration:underline;
}

#header div a:visited{
    text-decoration: none;
    color: #404040;
}

#otherButton{
    padding-top:10px;
    color: #404040;
}

#sign{
    text-decoration:none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    height:30px;
    width:80px;
    font-weight:bold;
    display:inline-block;
    text-align:center;
    line-height: 30px;
    border: 1px solid #4285F4;
    font-weight: bold;
    outline: medium none;
    background: -moz-linear-gradient(center top , #4387FD, #4683EA) repeat scroll 0% 0% transparent;
    border-radius:2px;
    color:white;
}

#signText{
    color:white;
}

/**** Middle of page ****/

#logo{
    float:center;
    margin:10px;
    padding-top:200px;
    padding-left:500px;
}
#logo img{
    height:100px;
    width:280px;
}

#buttons{
    padding-left: 500px;
    
}

input{
    width: 552px;
    height: 26px;
    margin-top: 10px;
    margin-left: 350px;
    float: center;
    border: 1px solid #DDD;
    font-size: 16px;
    margin-bottom: 10px;
}

input:focus{
    border: 1px solid #4285F4;
    outline: medium none;
}
#buttons{
    float:center;
}
#button1{
    float:left;
    margin: 10px;
    padding:10px;
    background: none repeat scroll 0% 0% #F5F5F5;
    color: #444;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
}

#button2{
    float:left;
    margin: 10px;
    padding:10px;
    background: none repeat scroll 0% 0% #F5F5F5;
    color: #444;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
}

/****Bottom of webpage/Footer****/
#foot{
    background: none repeat scroll 0% 0% #F2F2F2;
    position: fixed;
    left: 0px;
    bottom:0px;
    width: 100%;
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-family: arial,sans-serif;
    font-size: small;
    text-decoration: none;
}

#foot a{
    text-decoration: none;
    color: #666;
}
#foot a:hover{
    text-decoration:underline;
}

#left{
    float:left;
    margin:10px;
    padding-right: 400px;
}
#left a{
    margin:5px;
}
#right{
    float:left;
    margin:10px;
    padding-left:480px;
}
#right a{
    margin:5px;
}